@import url("https://fonts.googleapis.com/css?family=Delius&display=swap");

.App {
  background-color: #282c34;
  min-height: 100vh;
  width: 100vw;
  display: grid;
  font-family: "Delius", cursive;
}

@media only screen and (min-width: 1000px) {
  .App {
    grid-template-areas:
      "countdown countdown pressure"
      "countdown countdown temperature"
      "beer-tile finn outdoor-temp ";
  }
}

@media only screen and (max-width: 1000px) {
  .App {
    grid-auto-rows: repeat(5, 25vh);
    grid-template-areas:
      "countdown countdown"
      "countdown countdown"
      "outdoor-temp temperature"
      "pressure finn"
      "beer-tile beer-tile";
  }
}

.Countdown-box {
  grid-area: countdown;
}

.temp-tile {
  grid-area: temperature;
}

.outside-temp-tile {
  grid-area: outdoor-temp;
}

.humidity-tile {
  grid-area: humidity;
}

.pressure-tile {
  grid-area: pressure;
}

.finn-tile {
  grid-area: finn;
}
